<h2>registroReclamo</h2>
<form class="nav-var" action="guardarReclamo" method="post">
<label>Tipo de reclamo <span class="required"></span></label>

<select name="reclamo[tiporeclamo]" id="tiporeclamo" value="<%= reclamo.tiporeclamo %>" class="field-select">
  <option >Odeco</option>
  <option >Proceso1</option>
  <option >Servicio</option>
  <option >option3</option>
</select>
<div class="nav-var">
  <label for="observaciones">Observaciones: </label>
  <input type="text" id="observacion" name="reclamo[observacion]" value="<%= reclamo.observacion %>">
</div>
<div class="nav-var">
  <label for="fecha">Fecha</label>
  <input type="text" id="fecha" name="reclamo[fecha]" value="<%= reclamo.fecha %>">
</div>
<div class="nav-var">
  <input type="submit" name="envio" value="Registrar Reclamo">
</div>
</form>
